@{
    ViewBag.Title = "Remove set";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@using (Html.BeginForm())
{ 
    <button type="submit">Yes</button>
    <button type="submit">Cancel</button>
}
