@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Brick Box";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Keep track of your collected Lego sets.</h2>
        </hgroup>
        <p>
            For Lego collectors, acquiring Lego sets can be very rewarding.  However, as a 
            collector’s inventory of sets grows, it can become hard to track what they have 
            obtained over the years.  This program will keep an inventory of the Lego sets 
            that the user has.  
        </p>
    </div>
</section>
}

<h3>Please enjoy the following:</h3>

<ol class="round">
    <li class="one">
        <h5><a href="ViewLegoSetInventory.aspx">View Lego Set Inventory</a></h5>
        The inventory will be viewable as a list allowing the user to select any of the sets for further information.
    </li>

    <li class="two">
        <h5><a href="AddLegoSet.aspx">Add new set to Lego inventory</a></h5>
        Add or remove sets as your inventory changes.
    </li>

</ol>

