@{
    ViewBag.Title = "Brick Box";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Please enjoy the following:</h3>
<ol class="round">
    <li class="one">
        <h5><a href="/Home/ViewSets">View Lego sets</a></h5>
        View a list of Lego sets saved in your inventory.  
        Inventory may be updated to remove any sets that are sold.
    </li>

    <li class="two">
        <h5><a href="/Home/Add">Add Lego set</a></h5>
        Add new Lego sets to your collection
    </li>
</ol>
