@{
    ViewBag.Title = "Brick Box";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Please enjoy the following:</h3>
<ol class="round">
    <li class="one">
        <h5><a href="/Inventory/Index">Update and view your inventory</a></h5>
        View a list of Lego sets saved in your inventory.
        Add new Lego sets to your inventory.
        Remove any sets that are no longer part of your inventory.
        Update any information on sets that may have been input improperly. 
    </li>

    <li class="two">
        <h5><a href="/WishList/Index">Update and view your wish list</a></h5>
        View a list of Lego sets saved in your wish list.
        Add new Lego sets to your wish list.
        Remove any sets that are no longer part of your wish list.
        Update any information on sets that may have been input improperly.
    </li>
</ol>
