@{
    ViewBag.Title = "View Sets";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<table>
    <tr>
        <th>
            Set name
        </th>
        <th>
            Set number
        </th>
        <th>
            Set pieces
        </th>
        <th>
            Set MSRP
        </th>
    </tr>
   
    <tr>
        <td>
            R2D2
        </td>
        <td>
            10225
        </td>
        <td>
            2127
        </td>
        <td>
            $179.99
        </td>

        <td>
            <a href="/Home/Remove">Remove</a>
        </td>
    </tr>
 </table>